/**
 * site.css
 * mobile first
 * use flex layout
 */
/*----------  variables  ----------*/
/*----------  reset ----------*/
a {
  cursor: pointer;
  text-decoration: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
img {
  -webkit-touch-callout: none;
}
h1,
h2 {
  font-weight: normal;
}
h1,
h2,
ul,
ol,
p,
button {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style-type: none;
}
code {
  font-weight: normal;
  background: rgba(27, 31, 35, 0.05);
  padding: 0.2em 0;
  border-radius: 0.2em;
  overflow-x: scroll;
  word-wrap: normal;
}
code::before,
code::after {
  content: "\00a0";
}
pre code::before,
pre code::after {
  content: "";
}
/*----------  body style  ----------*/
@font-face {
  font-family: "Playball";
  src: url("fonts/playball/Playball-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf");
}
html,
body {
  font: 1em/1.75em "roboto", sans-serif;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #eee;
}
.no-scroll {
  height: auto;
}
/*----------  wrapper style  ----------*/
.body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  min-height: 100%;
}
/*----------  secondary style  ----------*/
.secondary {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(51, 51, 51, 0.8);
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.site-title {
  width: 100%;
  font-size: 3em;
  font-family: "Playball";
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.site-title-link {
  color: #fff;
}
.site-description {
  text-align: center;
  text-transform: uppercase;
  height: 3.125em;
  line-height: 3.125em;
  font-size: 0.8em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toggle {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: none;
  background-color: transparent;
}
.toggle .fa {
  color: #fff;
}
.toggle-nav {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.toggle-sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar {
  width: 100%;
  height: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
}
.nav-table {
  width: 100%;
  border-collapse: collapse;
}
.nav-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.nav-table td {
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 2.5em;
  line-height: 2.5em;
}
.nav-table td .fa {
  color: rgba(255, 255, 255, 0.3);
}
.nav-table td a {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.nav-table td a:hover {
  color: #fff;
}
.nav-table td .visited {
  color: #fff;
}
.nav-table td:nth-of-type(1) {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 2.5em;
  text-align: center;
}
.nav-table td:nth-of-type(2) {
  padding-left: 2em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.sidebar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  position: absolute;
  left: -100%;
  top: 0;
  -webkit-transition: left .5s;
  transition: left .5s;
  z-index: 999;
  height: 100%;
  min-height: 100%;
}
.sidebar .hide-sidebar {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar aside {
  margin-top: 1em;
}
.sidebar aside h1 {
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
}
.sidebar aside li {
  height: 1.5em;
  line-height: 1.5em;
}
.sidebar aside a {
  color: #fff;
  font-size: 0.85em;
}
.sidebar aside a:hover {
  color: rgba(255, 255, 255, 0.3);
}
.tag-link::after {
  content: "\00a0\00a0";
  font-size: 1rem;
}
.sidebar.active {
  left: 0;
}
/*----------  primary style  ----------*/
.primary {
  width: 100%;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.mark {
  padding: 1em;
  line-height: 2em;
  background-color: #efefff;
}
.mark-type {
  color: #ccc;
}
.mark-type::after {
  content: "\00a0\00a0";
}
.mark-content {
  color: #333;
}
.main-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-content .article-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px dashed #333;
}
.main-content .article-item .read-all {
  border: 2px solid #333;
  color: #333;
  font-size: 0.9em;
  margin-top: 2em;
  padding: 0.4em 0.8em;
}
.main-content .article-item .read-all:hover {
  color: #fff;
  background-color: #333;
}
.main-content .article-item .read-all::after {
  font-family: FontAwesome;
  content: "\00a0\f101";
}
/*----------  pagination style  ----------*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 1.7em auto;
}
.page {
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-right: 0.5em;
  border-radius: 0.2em;
  background-color: #454343;
}
.page:last-of-type {
  margin-right: 0;
}
.current-page {
  background-color: #ccc;
}
/*----------  footer style  ----------*/
.footer {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 0.85em;
  text-align: center;
  color: #333;
}
/*----------  article page style  ----------*/
.article-title {
  font-size: 1.5em;
  margin-bottom: 0.67em;
  line-height: 1.5;
  text-align: center;
}
.article-title a {
  color: #000;
}
.article-meta {
  color: #b1afaf;
  margin: 1em 0;
  font-size: 0.8em;
  line-height: 1.5em;
}
.article-meta .fa {
  color: #b1afaf;
}
.article-meta .fa::after,
.article-meta a::after {
  content: "\00a0\00a0";
}
.article-meta a {
  color: #0366d6;
}
.article-meta .meta::after {
  content: "\00a0\00a0";
}
.article-text {
  font-size: 0.95em;
  margin-bottom: 2em;
}
.article-text h1,
.article-text h2,
.article-text h3,
.article-text h4,
.article-text h5,
.article-text h6 {
  font-size: 1.5em;
  padding: 0.67em 0;
}
.article-text a {
  color: #0366d6;
  padding: 0 0.125em;
}
.article-text p,
.article-text li {
  margin-bottom: 0.5em;
}
.article-text img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
.article-text em,
.article-text strong {
  font-style: italic;
}
.article-text ul,
.article-text ol {
  margin-left: 1em;
  list-style: disc outside;
}
.article-text blockquote {
  margin: 2em 0px;
  padding-left: 1em;
  font-style: italic;
  border-left: 5px solid #b7dde3;
}
.article-text table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.article-text table th,
.article-text table td {
  padding: 0.3em 0.5em;
  text-align: center;
  border: 1px solid #ccc;
}
.article-tags {
  padding: 1em 0;
}
.article-tags a {
  color: #0000ff;
  text-decoration: underline;
  padding-right: 0.5em;
}
.article-nav {
  overflow: hidden;
}
.article-nav a {
  color: #333;
  padding: 0.1em 0.6em;
  border: 1px solid #fff;
  border-radius: 0.2em;
}
.article-nav a:hover {
  border-color: #333;
}
.article-nav .prev-article {
  float: left;
}
.article-nav .next-article {
  float: right;
}
.article-nav .prev-article::after {
  content: "\2190";
}
.article-nav .next-article::after {
  content: "\2192";
}
/*----------  archive page style  ----------*/
.archive-section {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  border-left: 2px solid #ccc;
  position: relative;
}
.archive-section h2 {
  line-height: 1.5em;
}
.archive-section .circle {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: -0.3em;
  top: -0.5em;
  display: block;
  border-radius: 50%;
  background-color: #ccc;
}
.archive-section:first-of-type .circle {
  display: none;
}
.archive-article-list {
  padding-left: 1em;
}
.archive-article-list li {
  line-height: 2em;
  margin: 0.3em 0px;
}
.archive-article-list li a {
  color: #333;
}
.archive-article-list li a::after {
  content: "\00a0\00a0";
}
.archive-article-list li span {
  color: #a09d9d;
  font-size: 0.8em;
}
/*----------  for desktop  ----------*/
@media screen and (min-width: 768px) {
  .body-wrapper {
    width: 85%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .primary {
    width: 75%;
  }
  .main-content {
    padding: 2.5em;
  }
  .article-title {
    font-size: 2em;
    line-height: 2;
  }
  .article-meta {
    line-height: 2.5em;
  }
  .secondary {
    width: 25%;
  }
  .toggle-sm {
    display: none;
  }
  .navbar {
    height: auto;
  }
  .nav-table tr:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebar {
    position: static;
    height: auto;
    min-height: auto;
  }
}
