<!DOCTYPE html>
<html>
<head>
	<%- include('include/header'); %>
</head>
<body>
	<div class="body-wrapper">
		<%- include('include/secondary'); %>
		<div class="primary">
			<div class="main-content">
				<div class="archive-wrapper">
					<section class="archive-section">
						<h2 class="archive-year">2017</h2>
						<ul class="archive-article-list">
							<li class="archive-article-item">
								<a href="/article/learn-hack">learn to hack website</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/happy-work">Happy is first, work follows</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/seek-practical-use">Practical is the most important when study</a>
								<span class="publish-date">06-01</span>
							</li>
						</ul>
						<span class="circle"></span>
					</section>
					<section class="archive-section">
						<h2 class="archive-year">2016</h2>
						<ul class="archive-article-list">
							<li class="archive-article-item">
								<a href="/article/learn-hack">learn to hack website</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/happy-work">Happy is first, work follows</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/seek-practical-use">Practical is the most important when study</a>
								<span class="publish-date">06-01</span>
							</li>
						</ul>
						<span class="circle"></span>
					</section>
					<section class="archive-section">
						<h2 class="archive-year">2015</h2>
						<ul class="archive-article-list">
							<li class="archive-article-item">
								<a href="/article/learn-hack">learn to hack website</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/happy-work">Happy is first, work follows</a>
								<span class="publish-date">06-01</span>
							</li>
							<li class="archive-article-item">
								<a href="/article/seek-practical-use">Practical is the most important when study</a>
								<span class="publish-date">06-01</span>
							</li>
						</ul>
						<span class="circle"></span>
					</section>
				</div>
			</div>
			<%- include('include/footer'); %>
		</div>
	</div>
	<%- include('include/script'); %>
</body>
</html>