<div class="pagination">
	<a href="/" class="page prev-page"><i class="fa fa-angle-left"></i></a>
	<a href="/" class="page">1</a> 
	<a href="/page-2" class="page current-page">2</a>
	<a href="/page-3" class="page">3</a>
	<a href="/page-4" class="page">4</a>
	<a href="/page-5" class="page">5</a>
	<a href="/page-3" class="page next-page"><i class="fa fa-angle-right"></i></a>
</div>