<!-- secondary start-->
<%
	var site = locals.config.site;
	var tags = locals.data.tags;
	var categories = locals.data.categories;
%>
<div class="secondary">
	<header class="header">
		<h1 class="site-title"><a href="/" class="site-title-link"><%= site.title %></a></h1>
		<button type="button" class="toggle toggle-sm toggle-sidebar display-sidebar"><i class="fa fa-arrow-right"></i></button>
		<h2 class="site-description"><%= site.description %></h2>
		<button type="button" class="toggle toggle-sm toggle-nav" id="toggle-nav"><i class="fa fa-bars"></i></button>
		<nav class="navbar" id="navbar">
			<table class="nav-table">
				<tbody>
					<tr>
						<td><i class="fa fa-home"></i></td>
						<td><a href="/">首页</td>
					</tr>
					<tr>
						<td><i class="fa fa-archive"></i></td>
						<td><a href="">归档</a></td>
					</tr>
					<tr>
						<td><i class="fa fa-rss"></i></td>
						<td><a href="/rss.xml">RSS</a></td>
					</tr>
				</tbody>
			</table>
		</nav>
	</header>
	<section class="sidebar" id="sidebar">
		<button type="button" class="toggle toggle-sm toggle-sidebar hide-sidebar"><i class="fa fa-arrow-left"></i></button>
		<aside class="category">
			<h1>文章分类</h1>
			<ul class="category-list">
			<% for (var category in categories) { -%>
				<li><% link_to(`${category}(${categories[category].length})`, `/category/${category}`) %></li>
			<% } -%>
			</ul>
		</aside>
		<aside class="tag">
			<h1>标签</h1>
		<% for (var tag in tags) { -%>
			<% link_to(tag, `/tag/${tag}`) %>	
		<% } -%>
		</aside>
	</section>
</div>
<!-- secondary end -->